// COLORS
$color-black: #0d171a;
$color-white: #fff;
$color-theme: #002355;
$color-gray-0: #f0f0f0;
$color-black-main: #000;

// FONTS
$font-name: 'FontName', Arial, sans-serif;

// TRANSITIONS
$transition-duration: 0.35s;
$transition-timing-function: ease;
$transition: $transition-duration $transition-timing-function;

// SETTINGS
$desktop-xxl: 2560;
$desktop-xl: 1920;
$desktop-lg: 1680;
$desktop-md: 1440;
$desktop-sm: 1366;
$desktop-xs: 1280;
$desktop: 1024;
$tablet: 1024;
